.timestamp {
    display: flex;
    justify-content: center;
    color: #999;
    font-weight: 600;
    font-size: 12px;
    margin: 1rem 0;
    text-transform: uppercase;
    clear: both;
}

.commentContainer {
    margin: 0 auto !important;
}

.commentContainer::after {
    content: "";
    clear: right;
    display: table;
}
